HTML
{
  padding: 0;
  margin: 0;
  background: #eee;
  font-size: 16px;
  font-family: Helvetica, Consolas, Couries, monospace;
}
BODY
{
  padding: 0;
  margin: 0;
}

A
{
  color: #4183c4;
}

.section-wrapper
{
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

.main-menu
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  box-shadow: 0 0 24px rgba(0, 0, 0, .5);
  overflow: hidden;
}
.main-menu UL
{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.main-menu UL.primary
{
  float: left;
}
.main-menu UL.secondary
{
  float: right;
}
.main-menu LI
{
  display: inline-block;
}
.main-menu A
{
  display: inline-block;
  color: #DDD;
  text-decoration: none;
  padding: 16px 12px;
}
.main-menu LI:first-child A
{
  padding-left: 24px;
}
.main-menu LI:last-child A
{
  padding-right: 24px;
}
.main-menu A:hover
{
  color: white;
}

.header
{
  background: url(img/bg.jpg);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, .25) inset;
  margin: 0 -30px;
  text-align: center;
}
.header .logo
{
  padding: 140px 0 80px;
}
.header .logo P
{
  margin: 16px 0 0;
  font-size: 18px;
}

.content
{
  padding-top: 20px;
}
.content H2
{
  font-size: 28px;
  font-weight: normal;
  margin: 2em 0 .75em;
}

.features
{
  display: flex;
}
.feature
{
  width: 33%;
  padding: 0 15px;
  text-align: center;
}
.feature H3
{
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 16px;
}

.demo-block
{

}
.demo-block P
{
  width: 55%;
}

.footer
{
  text-align: center;
  font-size: 12px;
  padding: 40px 0 10px;
}

#demo1
{
  position: relative;
  height: 250px;
}
